#menu {
    position: fixed;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background-image: url("Photos/bkround.jpg");
    display: inline-block;
    margin: -10px -10px -10px -10px;
    border: solid;
    border-color: darkgoldenrod;
}

#qrcode {
    border: solid #ccc;
    margin: auto;
    border-radius: 25px;
}

.menuText a {
    text-decoration: none;
    color: darkblue;
    display: inline-block;
}

.menuText a:hover {
    transform: scale(1.4);
    border-radius: 100px 100px 100px 100px;
}

hr
{
    width: 160000px;
}

body {
    background-color: lightgrey;
    font-family: cursive;
}

.section h1 {
    margin-left: 10px;
    font-size: 28px;
    color: darkblue;
    text-align: center;
    font-weight:bold;
}
.section h2 {
    margin-left: 15px;
    font-size:15px;
}
